.container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  .calendar {
    display: flex;
    width: 100%;
    margin: 30px;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    color: #5f6368;
    box-shadow: 0 0 15px #eaeaea;
    .summary {
      flex-basis: 40%;
      padding: 25px 20px;
      border-right: 1px solid #eaeaea;
      .header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .logo {
          margin-right: 20px;
          border-radius: 50%;
          width: 80px;
          height: 80px;
          object-fit: cover;
        }
        span {
          overflow-x: hidden;
          .title {
            margin: 0;
            font-size: 28px;
          }
          .subtitle {
            color: #c0c0c0;
            font-size: 18px;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: normal;
          }
        }
      }
      .duration {
        margin: 20px 10px;
      }
      .description {
        margin-top: 10px;
      }
    }
    .schedule-day,
    .schedule-hour,
    .form,
    .success {
      padding: 25px 20px;
      flex-basis: 60%;
      span {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        h2 {
          font-size: 22px;
        }
        button {
          margin-right: 10px;
          padding: 5px;
          background: transparent;
          color: #5f6368;
          border-radius: 50%;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 24px;
          font-weight: 700;
          transition: background-color 0.2s ease-out;

          &:hover {
            background-color: #5f636822;
          }

          &:disabled {
            background-color: white;
            color: #ddd;
            pointer-events: none;
            cursor: default;
          }
        }
      }
      h3 {
        margin: 20px 0 20px 5px;
        text-transform: capitalize;
        font-weight: 200;
        color: #c0c0c0;
      }
    }
    .schedule-day {
      position: relative;
      .loader {
        top: calc(50% - 40px);
        left: calc(50% - 40px);
      }
      .v-calendar {
        &.loading {
          opacity: 0.5;
          pointer-events: none;
        }
        border: none;
      }
    }
    .schedule-hour {
      .hours-group {
        display: flex;
        flex-direction: column;
        button {
          padding: 10px 15px;
          margin: 5px 10px;
          font-size: 18px;
          font-weight: 700;
          border: none;
          outline: none;
          border-radius: 5px;
          color: white;
          background-color: #17cfcc;
          transition: background-color 0.2s ease-out, color 0.2s ease-out;

          &:hover {
            background-color: #17cfcc99;
            cursor: pointer;
            color: white;
          }

          &.disabled {
            color: #5f6368;
            background-color: #dadce088;

            &:hover {
              cursor: not-allowed;
            }
          }
        }
      }
    }
    .form {
      position: relative;
      .loader {
        top: calc(50% - 40px);
        left: calc(50% - 40px);
      }
      .form-group {
        display: flex;
        flex-direction: column;
        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
        .input-field {
          display: flex;
          flex-direction: column;
          margin: 8px 10px;
          label {
            margin-bottom: 5px;
          }
          input {
            padding: 10px 12px;
            border-radius: 5px;
            outline: none;
            border: 1px solid #c0c0c0;
            background-color: transparent;
          }
        }
        button {
          padding: 10px 15px;
          margin: 5px 10px;
          font-size: 18px;
          font-weight: bold;
          border: none;
          outline: none;
          border-radius: 5px;
          cursor: pointer;
          color: white;
          background-color: #17cfcc;
          transition: background-color 0.2s ease-out, color 0.2s ease-out;

          &:hover {
            background-color: #17cfcc99;
            color: white;
          }
        }
      }
    }
    .success {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .mail-sended {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
        img {
          width: 50%;
        }
        h2 {
          margin-top: 15px;
          color: rgb(63, 61, 86);
          text-align: center;
        }
        p {
          margin: 15px 0;
        }
      }
      p {
        text-align: center;
        span,
        a {
          display: inline;
          color: #17cfcc;
          text-decoration: none;
        }
      }
      .meet-summary {
        display: flex;
        flex-direction: column;
        width: max-content;
        margin: 0 auto;
        .icon {
          display: flex;
          align-items: center;
          font-size: 16px;
          height: 20px;
          margin: 0 0 5px 0;
          img {
            width: 24px;
            margin: 0 10px;
          }
          i {
            width: 24px;
            font-size: 18px;
            margin: auto 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .calendar {
      flex-direction: column;
      .summary {
        flex-basis: auto;
        border: none;
        border-bottom: 1px solid #eaeaea;
        .header {
          span {
            overflow-x: hidden;
            .title {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              word-break: normal;
            }
          }
        }
      }
    }
  }
}
